body {
  color: #fff !important;
  background-color: #252525;
  background: #0f2027; /* fallback for old browsers */
}

.buttons {
  position: relative;
  border-radius: 20px;
  background: -o-linear-gradient(45deg, #cacaca, #f0f0f0);
  background: linear-gradient(45deg, #cacaca, #f0f0f0);
  background-color: #fff;

  /* -webkit-box-shadow: 0px 0px 228px 0px rgba(217, 0, 250, 0.24);
  -moz-box-shadow: 0px 0px 228px 0px rgba(217, 0, 250, 0.24);
  box-shadow: 0px 0px 228px 0px rgba(217, 0, 250, 0.24); */
  /* box-shadow: 28px -28px 62px #c1c1c1, -28px 28px 62px #ffffff; */
  -webkit-transition: 900ms;
  -o-transition: 900ms;
  transition: 900ms;
  font-weight: 500;
  cursor: auto !important;
}
.buttons:hover {
  background: #e0e0e0;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  /* transform: scale3d(1.1, 1.1, 1.1); */
  /* text-shadow: var(--brShadow), var(--tlShadow); */
}
.buttons .badge {
  text-shadow: var(--brShadow), var(--tlShadow);
  -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
small {
  font-family: monospace;
}

:root {
  --colorMain: #e0e0e0;
  --brShadow: -6px 6px 15px rgba(0, 0, 0, 1);
  --tlShadow: 6px -6px 15px rgb(6, 6, 6);
  --bs-btn-active-bg: purple;
  --bs-btn-active-color: pink;
}

.heading {
  font-family: monospace !important;
}

.alert {
  font-weight: 700;
  text-transform: uppercase;
}
.btn-purple {
  border: 1px solid rgb(124, 42, 124) !important;
}
.bg-purple {
  background-color: purple !important;
}
.btn-outline-purple {
  border: 1px solid rgb(124, 42, 124) !important;
  color: rgb(124, 42, 124);
  --bs-btn-active-bg: rgb(124, 42, 124) !important;
  --bs-btn-active-color: white !important;
}
.text-purple {
  color: rgb(124, 42, 124) !important;
}

.bg-hot {
  background-color: rgb(255, 1, 1) !important;
  right: -10px;
  position: absolute !important;
  top: 0px !important;
  border-radius: -23px;
  padding: -4px;
  -webkit-transform: rotate(49deg);
  -ms-transform: rotate(49deg);
  transform: rotate(49deg);
  font-size: 10px;
}
.box {
  display: inline;
  position: relative !important;
}
.liked {
  position: absolute !important;
  top: 0;
  cursor: pointer;
}
.liked .fa-solid {
  color: #dc3545;
}
.liked .fa-regular {
  opacity: 0;
  -webkit-transition: 700ms;
  -o-transition: 700ms;
  transition: 700ms;
}

.box:hover .fa-regular {
  display: inline-block !important;
  z-index: 1;
  opacity: 1;
}

.btn-teal {
  border: 1px solid teal !important;
}
.bg-teal {
  background-color: teal !important;
}
.btn-outline-teal {
  border: 1px solid teal !important;
  color: teal;
  --bs-btn-active-bg: teal !important;
  --bs-btn-active-color: white !important;
}
.text-teal {
  color: teal !important;
}

.btn-orange {
  border: 1px solid orange !important;
}
.bg-orange {
  background-color: orange !important;
}
.btn-outline-orange {
  border: 1px solid orange !important;
  color: orange;
  --bs-btn-active-bg: orange !important;
  --bs-btn-active-color: white !important;
}
.text-orange {
  color: orange !important;
}
.top-new {
  top: -5px !important;
  left: -3px !important;
}

@media (max-width: 800px) {
  .liked .fa-regular {
    display: inline-block !important;
    opacity: 1;
  }
}
