body {
  background-color: #e0e0e0;
}

.buttons {
  position: relative;
  border-radius: 20px;
  background: linear-gradient(45deg, #cacaca, #f0f0f0);
  box-shadow: 28px -28px 62px #c1c1c1, -28px 28px 62px #ffffff;
  transition: 500ms;
  font-weight: 500;
  cursor: auto !important;
}
.buttons:hover {
  background: #e0e0e0;
  box-shadow: -22px 22px 28px #5a5a5a, 22px -22px 28px #ffffff;
  /* transform: scale3d(1.1, 1.1, 1.1); */
  text-shadow: var(--brShadow), var(--tlShadow);
}

small {
  font-family: monospace;
}

:root {
  --colorMain: #e0e0e0;
  --brShadow: -6px 6px 15px rgba(0, 0, 0, 1);
  --tlShadow: 6px -6px 15px rgba(255, 255, 255, 01);
}

.heading {
  font-family: monospace !important;
}

.alert {
  font-weight: 700;
  text-transform: uppercase;
}
.btn-purple {
  border: 1px solid purple !important;
}
.bg-purple {
  background-color: purple !important;
}
.btn-outline-purple {
  border: 1px solid purple !important;
  color: purple !important;
}
.text-purple {
  color: purple !important;
}
.bg-hot {
  background-color: rgb(255, 1, 1) !important;
  right: -10px;
  position: absolute !important;
  top: 0px !important;
  border-radius: -23px;
  padding: -4px;
  transform: rotate(49deg);
  font-size: 10px;
}
.box {
  display: inline;
  position: relative !important;
}
.liked {
  position: absolute !important;
  top: 0;
}
.liked .fa-solid {
  color: #dc3545;
}
.liked .fa-regular {
  display: none;
}

.box:hover .fa-regular {
  display: inline-block !important;
  z-index: 1;
}

.btn-teal {
  border: 1px solid teal !important;
}
.bg-teal {
  background-color: teal !important;
}
.btn-outline-teal {
  border: 1px solid teal !important;
  color: teal !important;
}
.text-teal {
  color: teal !important;
}

.btn-orange {
  border: 1px solid orange !important;
}
.bg-orange {
  background-color: orange !important;
}
.btn-outline-orange {
  border: 1px solid orange !important;
  color: orange !important;
}
.text-orange {
  color: orange !important;
}
.top-new {
  top: -5px !important;
  left: -3px !important;
}
